@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~@mdi/font/scss/materialdesignicons";

@tailwind preflight;
@tailwind components;
@tailwind utilities;

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
